:root{
    --cor-primaria:#ebfa0d;
    --cor-secundaria:#d1c40cfe;
    --cor-preta: rgba(0,0,0,0.8);
    --cor-branca:white;
}

*{
    padding:0;
    margin:o;
    box-sizing: border-box;
}

#body{
    font-family: arial, sans-serif;
    background-color: var(--cor-branca);
    color: var(--cor-preta); 
    height: 100vh; /* Define a altura do body para preencher a tela inteira */
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */

    /* flex-direction:column; */
    
   
}

#container{
    width: 600px;
    height: 300px;
    border-radius: 10px;
    border: 1px solid var(--cor-branca);
    margin: auto; 
    background-color: var(--cor-primaria);
    box-shadow: 0 0 5px rgba(59, 57, 57, 0.94); /* Sombra */
}

#container-header{
    background-color: var(--cor-secundaria);
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border:none;
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}
#container-header h1{
    /* padding:5px; */
    margin: 20px;
    font-size: 25px;
    
}

#container-header form{
    margin: 20px;
}

#input-button input{
    padding:5px;
    width: 200px;
    margin-right:10px;
}

#input-button button{
    padding:6px;
    width: 80px;
    color: var(--cor-branca);
    background-color:var(--cor-preta);
    font-weight: bold;
    border-radius: 5px;
    cursor:pointer;
}

#container-body{
    display:grid;
    grid-template-columns: 1fr 1fr; /* Duas colunas de tamanho igual */
    gap: 20px; /* Espaço entre as colunas */
    margin:10px;
}
#container-body .label{
    display:flex;
    justify-content:end;
    font-weight: bold;
    margin-right: 40px;

 }
#container-body input{

   color:var(--cor-preta);
   background-color:var(--cor-branca);
   width: 200px;
   border:none;
   padding: 5px;
}


/* aqui tava body p ver se vai modificar o do cep */
#body p {
    color:rgb(206, 59, 22);
    font-weight: bold;
    font-size:15px;
    text-align: center;
}


/* ---- BIBLIOTECA ----- */
/* #main{
    padding:20px;
    margin-left: 10px;
} */

#body_biblioteca{
    margin:0px;
    padding:  0px;;
}
#header {
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: rgba(128, 0, 32, 0.8); 
    padding: 20px;
    color: white; 
    margin-bottom: 20px;
}

#form-busca{
    display: flex;
    align-items: center;
} 

#campo_busca {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
}

button {
    margin-left: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    cursor: pointer;
    /* transition: background-color 0.3s ease; */
}

button:hover {
    background-color: #ddd;
} 



/* -----outros codigos biublioteca */

/* Estilos CSS */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.livro {
    width: 30%;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}
.capa-container {
    position: relative;
    width: 100%;
    height: 200px;
}
.capa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    /* object-fit: contain; */
}
.sem-capa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.info-livro {
    text-align: left;
}
/* ... outros estilos CSS ... */
